*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden auto;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden scroll;
  font-family: "Poppins", sans-serif;
  color: #333;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem;
}

#img {
  background-image: url("assets/image2.jpeg");
  background-repeat: no-repeat;
}

.main__text h1 {
  font-size: 4rem;
  color: white;
  margin: 10rem 2rem;
}

.main__query {
  border-radius: 3px;
  padding: 2rem;
  margin-top: 10rem;
}

label {
  font-size: 1.5rem;
  font-weight: 600;
}

select {
  width: 50%;
  margin-bottom: 2rem;
  height: 2.5rem;
  outline: 0;
  margin-top: 0.3rem;
}

input {
  width: 50%;
  height: 2.5rem;
  padding: 1rem;
  outline: 0;
  margin-top: 0.3rem;
}

input[id="#minAge"],
input[id="#maxAge"] {
  width: 10%;
}

.minMaxAge {
  display: flex;
}

#searchBtn {
  outline: 0;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
  width: 50%;
  border-radius: 3px;
  color: white;
  background-color: dodgerblue;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

#results {
  display: flex;
  flex-wrap: wrap;
}

button {
  outline: 0;
  cursor: pointer;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 1.5px;
  color: white;
  background-color: dodgerblue;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.person-info div:first-of-type {
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 50%;
  margin-bottom: 0.5rem;
  margin: 0.5rem auto;
}

.person-info div:last-of-type {
  font-size: 1.3rem;
  width: 50%;
  margin-bottom: 1rem;
  margin: 0.5rem auto;
}

.person-row {
  padding: 1rem;
  text-align: center;
  border: 1px solid #4444;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.person-row img {
  margin: 0 auto;
  width: 15rem;
  height: 15rem;
  border-radius: 3px;
  margin-top: 1rem;
}

header {
  width: 100vw;
  height: 9rem;
  position: fixed;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: white;
  padding: 2rem 1rem 2rem 3rem;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

#header__info {
  display: flex;
  padding: 0 3rem;
}

#header__info i {
  font-size: 2rem;
  color: dodgerblue;
  margin: 1.5rem 0 0 1.5rem;
  visibility: hidden;
}

#header__info button {
  padding: 0 2.5rem;
  border-radius: 5px;
}

#header__info button:hover {
  background-color: chocolate;
}

#header__info p {
  padding-top: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  color: #444;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  #header__info i,
  header img {
    visibility: visible;
  }
  header img {
    width: 3rem;
    margin-top: 1rem;
  }
  #header__info p,
  #header__info button {
    visibility: hidden;
  }
}
